doctype html
html
  head
    meta(charset='utf-8')
    title 404 &infin; koren.im
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    link(rel='stylesheet', href='/css/style.css')
    style.
      body {
        max-width: 640px;
        text-align: center;
        margin: 100px auto;
      }
      .back {
        margin-top: 20px;
      }
  body
    h1 404
    p Siden du leter etter eksisterer dessverre ikke.
    p.back
      a(href='#{back}') &larr; Tilbake til forsiden
