extends layout

block content
  #work.page
    each project in projects
      article
        div.container
          div.text
            h2= project.name
            p!= project.description
            p
              a(href='#{project.url}') Besøk &rarr;

          img(src='#{project.image}')

