extends layout

block content

  section#projects
    h2.center
      a(href='./prosjekter') Prosjekter
    .content.center
      each project in projects
        a(href='#{project.url}')
          img.project(src='/images/projects/#{project.slug}.small.png')

  section#contact
    h2.center
      a(href='./kontakt') Kontakt
    .content.center
      #form-message
      form(action='/' method='post')
        div
          input#name(type='text' name='name' placeholder='Navn' required)
          input#email(type='email' name='email' placeholder='E-post' required)
          input#csrf(type='hidden' name='_csrf' value='#{token}')
          textarea#body(name='body' placeholder='Hei!' required)
          button(type='submit') Send e-post!

      p.info Du kan også sende e-post direkte til <a href='mailto:hei@koren.im'>hei@koren.im</a> eller ringe <strong class='phone'>995 36 797</strong>.
