doctype 5
html
  head
    meta(charset='utf-8')
    title hanse λ

    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')

    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Patrick+Hand+SC')
    link(rel='stylesheet', href='/style.css')
  body
    header
      nav
        ul
          li
            a(href='#') Welcome
          li
            a(href='#') Projects
          li
            a.contact(href='#') Get in touch

    section
      block content
    footer
      p Get in touch with me 
        a(href='http://linkedin.com/in/hanskristiankoren') somewhere 
        | on the 
        a(href='http://github.com/Hanse') internet.