@import "nib/reset"
@import "nib/vendor"

@import url('http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700')

global-reset()

$first-section-color = #c0392b
$second-section-color = #e74c3c

*
  box-sizing border-box
  font-smoothing antialiased

body
  font-size 18px
  line-height 1.8
  background #fff
  color #444
  font-family 'Source Sans Pro', 'HelveticaNeue-Light', 'Helvetica Neue', Helvetica, sans-serif
  position relative
  width auto
  margin 0 auto

.center
  max-width 640px
  margin 0 auto

header
  padding 10px 0
  position relative
  background #1B222A
  line-height 60px

.social
  float right
  line-height 50px

  a
    color #fff
    padding 5px
    display inline-block
    color #aaa

    &:hover
      color #ccc

h1
  color #bbb
  font-size 20px
  font-weight 700
  text-transform uppercase

  span
    color #eee

h3
  font-size 24px
  font-weight 700

section
  background #E82C0C
  background $first-section-color

  &:nth-child(odd)
    background #FF530D
    background $second-section-color

  h2
    font-size 30px
    color #fff

    a
      color #fff
      display block
      padding 50px 0

      &:after
        content ' \FFEB'

      &:hover
        text-decoration none

  .content
    display none
    padding-bottom 20px
    color #000

  &.active
    h2 a
      padding-bottom 10px

      &:after
        content ' \FFEC'

    .content
      display block


#projects
  .content
    text-align center

.project
  width 150px
  border-radius (@width/2)
  margin 5px
  transition transform 1s
  border 8px solid rgba(255, 255, 255, .2)
  transition border-color .4s


  &:hover
    border-color rgba(255, 255, 255, .4)

a
  color #1B222A
  text-decoration none

  &:hover
    text-decoration underline

article
  clear both

  img
    width 96px
    border-radius (@width/2)
    float right

footer
  text-align center
  color #aaa
  position relative
  clear both
  top 40px


input, textarea
  display block
  font-size 18px
  font-family 'Source Sans Pro', Helvetica, sans-serif
  border 0
  outline 0
  background #fff
  margin 0
  padding 10px
  width 100%
  margin-bottom 10px

  &:focus
    background #FAFFBD

textarea
  height 150px

button
  background rgba(0, 0, 0, .4)
  font-size 16px
  color #fff
  border 0
  outline 0
  cursor pointer
  padding 10px 20px
  margin 0

  &:hover
    background rgba(0, 0, 0, .3)

.info
  padding 10px 20px
  margin 20px 0
  color #fff
  background rgba(255, 255, 255, .2)

@media (max-width 800px)
  .center
    padding 0 20px

  .project
    width 120px
    border-radius (@width/2)
