html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
body {
  font-size: 18px;
  line-height: 1.8;
  background: #fff;
  color: #444;
  font-family: 'Source Sans Pro', 'HelveticaNeue-Light', 'Helvetica Neue', Helvetica, sans-serif;
  position: relative;
  width: auto;
  margin: 0 auto;
}
.center {
  max-width: 640px;
  margin: 0 auto;
}
header {
  padding: 10px 0;
  position: relative;
  background: #1b222a;
  line-height: 60px;
}
.social {
  float: right;
  line-height: 50px;
}
.social a {
  color: #fff;
  padding: 5px;
  display: inline-block;
  color: #aaa;
}
.social a:hover {
  color: #ccc;
}
h1 {
  color: #bbb;
  font-size: 26px;
  font-weight: 400;
}
h1 span {
  color: #eee;
}
h3 {
  font-size: 24px;
  font-weight: 700;
}
section {
  background: #e82c0c;
}
section:nth-child(odd) {
  background: #ff530d;
}
section h2 {
  font-size: 30px;
  color: #fff;
}
section h2 a {
  color: #fff;
  display: block;
  padding: 50px 0;
}
section h2 a:after {
  content: ' \FFEB';
}
section h2 a:hover {
  text-decoration: none;
}
section .content {
  display: none;
  padding-bottom: 20px;
  color: #000;
}
section.active h2 a {
  padding-bottom: 10px;
}
section.active h2 a:after {
  content: ' \FFEC';
}
section.active .content {
  display: block;
}
#projects .content {
  text-align: center;
}
.project {
  height: 128px;
  -webkit-border-radius: 64px;
  border-radius: 64px;
  margin: 5px;
  -webkit-transition: -webkit-transform 1s;
  -moz-transition: -moz-transform 1s;
  -o-transition: -o-transform 1s;
  -ms-transition: -ms-transform 1s;
  transition: transform 1s;
}
.project:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
a {
  color: #1b222a;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
article {
  clear: both;
}
article img {
  width: 96px;
  -webkit-border-radius: 48px;
  border-radius: 48px;
  float: right;
}
footer {
  text-align: center;
  color: #aaa;
  position: relative;
  clear: both;
  top: 40px;
}
input,
textarea {
  display: block;
  font-size: 16px;
  border: 0;
  outline: 0;
  background: #fff;
  margin: 0;
  padding: 10px;
  width: 100%;
  margin-bottom: 10px;
}
input:focus,
textarea:focus {
  background: #faffbd;
}
textarea {
  height: 150px;
}
button {
  background: #bc3600;
  font-size: 16px;
  color: #fff;
  border: 0;
  outline: 0;
  cursor: pointer;
  padding: 10px 20px;
  margin: 0;
}
button:hover {
  background: #c93a00;
}
