@import "nib/reset"
@import "nib/vendor"

global-reset()

body
  -webkit-font-smoothing antialiased
  font-size 16px
  line-height 2
  margin 0 auto
  background-color #fff
  color: #777
  font-family "Lucida Grande", "Open Sans", "Helvetica Neue", "Lucida Grande", sans-serif

header > nav > ul, header > div, section, footer
  padding 20px
  max-width 960px
  margin 0 auto

h1
  font 75px "Open Sans"
  color #64124b
  font-weight 700

a
  color #92789f
  text-decoration none

  &:hover
    text-decoration underline

nav
  background #f1ede9

  ul
    &:after
      zoom 1
      display block
      content ""
      clear both

    text-align center
  li
    display inline
    a
      color #5b2d71
      text-decoration none
      display inline-block
      padding 5px 20px
      text-transform uppercase
      letter-spacing 1px
      font-weight 700
      transition all 1s
      border-radius 15px

      &:hover
        background: #e7e2dd

h2
  font 20px "Open Sans"
  text-transform: uppercase
  color #333
  font-weight 700
  margin-top 20px

footer
  text-align center
  border-top 2px dotted #eee
  color #aaa

.welcome
  font-size 32px
  font-family Georgia, serif
  font-style italic
  padding 20px 30px
  border-radius 10px
  text-align center

  img
    width 100px
    border-radius 50px
    height 100px
    opacity .5
    transition opacity .5s
    border 3px solid #ddd
    margin-right 20px

    &:nth-child(2)
      transform: rotate(90deg)

    &:nth-child(3)
      transform: rotate(180deg)

    &:nth-child(4)
      transform: rotate(270deg)

    &:hover
      opacity 1

.contact
  color #333

canvas
  background #ddd
