#work
  height 320px

  article
    position relative
    top 0
    opacity 0
    transform rotateY(0deg)
    height 0
    visibility hidden
    width 100%
    background black
    transition all 1s ease-in-out

    .container
      max-width 720px
      height inherit
      margin 0 auto
      position relative
      z-index 30000

    .text
      position absolute
      padding 20px
      left 320px
      color #fff
      z-index 200

    img
      width 300px
      height 300px
      border 10px solid #fff
      margin 10px
      opacity 1

    &:nth-child(1)
      background #3498DB
      transform rotateY(180deg)
      //transform rotateZ(90deg)

    // #E74C3C #F1C40F
    &:nth-child(2)
      background
      transform rotateY(180deg)
      //transform rotateX(90deg)
      background #307D81

    &:nth-child(3)
      background #34495E
      transform rotateY(180deg)

    &:nth-child(4)
      transform rotateY(180deg)
      background #730202

    &:nth-child(5)
      transform rotateY(180deg)
      background #27ae60

    &:nth-child(6)
      transform rotateY(180deg)
      background #222

    &.active
      opacity 1
      height 320px
      transform rotateX(0) rotateY(0) rotateZ(0)
      visibility visible
      width 100%

  h2
    font-weight bold
    font-family Menlo, Monaco, monospace
    font-size 22px
    color #fff
    text-shadow 2px 2px 0 #999
    margin-bottom 20px

  p
    margin-bottom 10px

  a
    color yellow
    cursor pointer

.bullet-container
  text-align center
  width 100%
  margin-top 50px

.bullet
  display inline-block
  height 16px
  width 16px
  background #ddd
  cursor pointer
  margin-right 10px
  transform rotateZ(45deg)
  box-shadow 2px 1px 0 #aaa
  transition transform 0.5s

  &:hover, &.active
    transform rotateZ(0)
    background #eee

